body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  height: 100%;
  overflow-x: auto; 
  overflow-y: hidden; 
}

main {
  height: 100vh;
  overflow-x: auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.user-area {
  display: flex;
  align-items: center;
}

.user-area span {
  margin-right: 15px;
}

button {
  background-color: #ff4b2b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #ff3a1a;
}


.template-selection {
  margin-left: 20px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.welcome-text {
  font-size: 24px;
  color: #333;
}

.welcome-text p {
  color: #777;
  font-size: 18px;
}


#template-title {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}


.columns-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
  padding: 0 20px;
  height: 100%;
  overflow-x: auto; 
  flex-wrap: nowrap; 
}


.column {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.column-header {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-card-btn {
  margin-top: auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.add-card-btn:hover {
  background-color: #0056b3;
}

.task-list {
  flex-grow: 1;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; 
}

.task {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  cursor: grab;
}

.task:hover {
  background-color: #e1e1e1;
}

.delete-column-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1000px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.close-modal {
  cursor: pointer;
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  float: right;
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
}

#confirm-delete-btn {
  background-color: #ff4b2b;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#confirm-delete-btn:hover {
  background-color: #ff3a1a;
}
